* {

    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    
}
body {
    justify-content: center;
    align-items: center;
    background-color: #DBE2E9;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background: #6c63ff;  /* fallback for old browsers */
    background: #8E2DE2;  /* fallback for old browsers */
    
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%234db9d2' fill-opacity='0.23'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  
}

.main-form {
margin-top: 50px;
margin-left: -220px;
justify-content: flex-start;
flex-direction: row;
width: 100%;
flex-wrap: wrap;
display: inline-block;
}



#get-results {
     
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 700%);
    padding: 10px;
      height:50px;
      width: 250px;
      border-radius: 3px;
      color: #fff;
      background: #8E2DE2;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
}

.kpi-footer {
    transform: translate(0, 40%);
}


@media only screen and (max-width: 1024px){

    .main-form {
        margin-top: 50px;
        margin-left: 20px;
        width: 80vw;
    }
    
        #get-results {
            transform: translate(-50%, 1000%); 
            
       }

       .kpi-footer {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 240%);
       }
        
    }        


    @media only screen and (max-width: 768px){
        #get-results {
            transform: translate(-50%, 1380%); 
           
                 
       }

       .main-form {
           margin-left: 20px;
       }

       .kpi-footer {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 320%);
       }
        
      
    } 
    
    @media only screen and (max-width: 640px){
        #get-results {
            transform: translate(-50%, 1540%); 
           
            
            
       }

       .main-form {
           margin-left: 60px;
       }
        
       .kpi-footer {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 2680%);
       }
      
    }  


    @media only screen and (max-width: 414px)

    {
        #get-results {
            transform: translate(-50%, 1840%); 
           
            
            
       }

       .main-form {
           margin-left: 30px;
       }
        
       .kpi-footer {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 3100%);
       }
      
    }  





h1 {
    margin-top: 30px !important;
    font-size: 1.5rem !important;
    text-align: center;
    justify-content: center !important;
    
}

.calc-header {
    text-align: center !important;
}


.hero {
    margin-top: -80px;
}


.main-chart-container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0;
}

.main-chart-container p {
    text-align: center;
}


.chart-col1 {
    display: inline-block;
    float: left;
    width: 50%;
    text-align: center;
    padding: 120px 0;
    height: 600px;
   
    
}

.chart-col2 {
    display: inline-block;
    float: left;
    width: 50%;
    height: 500px;
    padding-left: 120px;
    padding-top: 100px;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
    
   
}

.form-card {
  width: 300px;
  height: 300px;
  color: #A5CCF8;
  border-radius:3%;
  background: #444B58;
  padding-top:40px;
  font-weight: bold;
  box-shadow: 10px 20px 20px grey;
}

.form-card input {
    background: #444B58;
    text-align: center;
    align-items: center;
    width: 60%;
    text-indent: 5px;
    padding: 5px;
}

.chart-border, .line-border {
    
    width: 800px;
    box-shadow: 10px 20px 20px grey;
}





  .linechart-container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0;
}

.line-col1 {
    display: inline-block;
    
    width: 50%;
    height: 500px;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    margin-left: 80px;
  
    
}

.line-form-card {
    width: 300px;
    height: 300px;
    color: #A5CCF8;
    border-radius:3%;
    background: #444B58;
    padding-top:40px;
    font-weight: bold;
    box-shadow: 10px 20px 20px grey;
    
  }

.line-col2 {
    
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 120px 0;
    height: 600px;
    align-items: center;
    justify-content: center;
    margin-top: -120px;
    margin-right: 40px;
    
    
    
}

.line-form-card input {
    background: #444B58;
    text-align: center;
    align-items: center;
    width: 60%;
    text-indent: 5px;
    padding: 5px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 880px){
    

    .chart-col2{
        width: 100%;
        align-items: center;
        margin-top: -100px;
        background: #444B58;
        box-shadow: none;
        height: 400px;
        justify-content: center;
      }
    .form-card input {
        text-align: center;
        margin-right: 130px;
        font-size: 0.9rem; 
    }
    .line-form-card input {
        text-align: center;
        font-size: 0.9rem;  
    }
      
    .chart-col1{
      width: 100%;
    }

    .chart-col2{
        width: 100%;
      }
    .form-card {
        width: 100%;
        box-shadow: none;
        text-align: center;
        height:200px;
        
    }

    .line-form-card {
    width: 1400px;
    height: 400px;
    color: #A5CCF8;
    border-radius:0%;
    background: #444B58;
    padding-top:40px;
    font-weight: bold;
    box-shadow: none;    
    }

    .line-col2{
        width: 100%;
        align-items: center;
        margin-top: -40px;
        box-shadow: none;
        height: 400px;
        justify-content: center;
      }

      .line-col1 {
          width: max-content;
          margin-top: 80px;
          align-items: center;
          justify-content: center;
          margin-left: -5px;
          border-radius:0px;
          height: 600px;
             
      }

    .form-card h3 {
        text-align: center;
        margin-right: 130px;
        margin-bottom: 20px;
        margin-top: -50px;
    }
    .line-form-card h3 {
        text-align: center;
        margin-right: 130px;
        margin-bottom: 20px;
        margin-top: 50px;
        margin-left: 150px;
    }
  }

  .book-session {
	position: relative;
	width: 100%;
	max-width: 520px;
	height: 50px;
	
	margin: 30px auto;
    text-align: center;
    font-size: 18px;
	cursor: pointer;
	user-select: none;
    text-align: center;
    color: #313131;
}


.book-session .selected-date {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #fafafa;
	font-size: 28px;
}

.book-session .dates {
	
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	
}



.book-session .dates .month {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #EEE;
}

.book-session .dates .month .arrows {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
	font-size: 20px;
}

.book-session .dates .month .arrows:active {
	background-color: grey;
}

.book-session .dates .days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 200px;
}
.book-session .dates .days .day { 
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
}
.book-session .dates .days .day.selected {
	background-color: #691AE1;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 50; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  /* Modal Content */
  .booking-message {
    color: #fafafa;
    width: 60%;
    font-size: 28px;
    margin: 0 auto ;
    padding: 20px;
    align: center;
    justify-content: center;
    width: 80%;
    
    
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #modal-btn {
      height:50px;
      width: 350px;
      border-radius: 3px;
      color: #fff;
      background: #8E2DE2;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      

  }

  .text-content {
width:70%;
margin: 20px auto;
text-align: center;
flex: wrap;

  }


